html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.main {
  background: #343232;
  /* padding: 1.6rem; */
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Kalam", Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
}

.heading > span {
  color: #b60000;
}

.engineer {
  font-family: "Kalam", Arial, sans-serif;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.5rem;
}
